body {
	overflow	: hidden;
	padding		: 0;
	margin		: 0;

	color		: #222;
	background-color: #BBB;
	font-family	: arial;
	font-size	: 100%;
}
#info .top {
	position	: absolute;
	top		: 0px;
	width		: 100%;
	padding		: 5px;
	text-align	: center;
}
#info a {
	color		: #66F;
	text-decoration	: none;
}
#info a:hover {
	text-decoration	: underline;
}
#info .bottom {
	position	: absolute;
	bottom		: 0px;
	right		: 5px;
	padding		: 5px;
}

#interface {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.health-bar {
  height: 60px;
  background: #00ff00;
}

.item-nav {
  background: #aaaaaa;
  border: solid;
  height: 100%; 
  float: right;
  width: 25%;
}

.item-nav [data-bind] {
	width: 90%;
	height: 90%;	
}
/*-------------------------------------------------Currency Box-------------------------------------------------------------*/
.item-nav [data-property] {
	width: 100%;
	height: 10%;
	background: #696969;
	margin-left: 5%;

	text-align: center;
	border-bottom: solid;
	border-right: solid;

	border-left-style: outset;
	border-top-style: outset;
	box-shadow: 10px 10px 5px #888888;
}
/*-------------------------------------------------Interface Buttons-------------------------------------------------------------*/
.item-nav [data-click] {
	width : 25%;
	height: 15%;
	margin-left: 20%;
	margin-top: 5%;

	border-bottom: solid;
	border-right: solid;

	border-left-style: outset;
	border-top-style: outset;
	border-radius: 15px;
	box-shadow: 10px 10px 5px #888888;
}

.item-nav [data-click]:hover, 
.item-nav [data-click]:focus {
	border-radius: 15px;
	border-color: #669999;
	background-color: #696969;
	outline:none;
}